[static_stats]
js_tags = 33
css_tags = 2
js_urls = 15
css_urls = 13
image_urls = 77
json_tags = 0

[metadata]
keywords = Zetech University | Inventing the Future 
description = Zetech University | Inventing the Future 
generator = Joomla! - Open Source Content Management
twitter:card = summary_large_image
twitter:title = Zetech University
twitter:description = Zetech University in Kenya is a premier technologically inclined chartered and ISO certified university offering quality education in different courses
twitter:image = https://www.zetech.ac.ke/images/logo.png
viewport = width=device-width, initial-scale=1.0

[urls]
base_url = https://www.zetech.ac.ke
network_location = www.zetech.ac.ke
same_site_links = 1
discovered_urls = 1

